.custom-slider {
    width: 100%;
    height: 10px;
    background: #047CFC;
    border-radius: 5px;
}

.custom-thumb {
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #047CFC;
    border-radius: 50%;
    cursor: pointer;
}

.custom-track {
    background: rgba(20,36,76,0.1);
}
